@model YOUtility.Models.Bill

@{
    ViewData["Title"] = "Create";
}

<head>
    <title>youtility</title>
    <meta charset="utf-8">

    <!-- Top left corner emblem -->
    <link rel="icon" href="..\images\youtility_emblem.png">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://npmcdn.com/pdfjs-dist/build/pdf.js"></script>
</head>


<div class="flexbox">
    <div class="flexbox-item flexbox-item-1">
        <div class="form">
            <h2 class="form-upload-text">Manual Upload</h2>
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="utility" class="control-label">Utility Type</label>
                    <select asp-for="utility" id="select-utility" class="form-control">
                        <option value="@Bill.Type.water">@Bill.Type.water</option>
                        <option value="@Bill.Type.gas">@Bill.Type.gas</option>
                        <option value="@Bill.Type.electricity">@Bill.Type.electricity</option>
                    </select>
                    <span asp-validation-for="utility" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="due" class="control-label">Amount Due (USD)</label>
                    <input asp-for="due" class="form-control" />
                    <span asp-validation-for="due" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="consumed" id="unit" class="control-label">gallons Used (This month)</label>
                    <input asp-for="consumed" class="form-control" />
                    <span asp-validation-for="consumed" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="beginningPeriod" class="control-label">Bill Start Date</label>
                    <input asp-for="beginningPeriod" class="form-control" />
                    <span asp-validation-for="beginningPeriod" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="endingPeriod" class="control-label">Bill End Date</label>
                    <input asp-for="endingPeriod" class="form-control" />
                    <span asp-validation-for="endingPeriod" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="form-create btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div class="flexbox-item flexbox-item-2">
        <h2 class="auto-upload-text">Automatic Upload</h2>
        <br />
        <input class="file" id="pdffile" name="pdffile" type="file" />
        <br />
        <br />
        <button id="btn" class="btn btn-primary" onclick="convert()">Create</button>
        <br />
        <ul class="list-group results" id="results">
            <li class="list-group-item" id="utility-type">Utility</li>
            <li class="list-group-item" id="date">Date</li>
            <li class="list-group-item" id="used">Units Used</li>
            <li class="list-group-item" id="payment">Payment</li>
        </ul>
    </div>
    @if (@ViewBag.newBill != null)
    {
        <div class="achievement-banner">
            <div class="achievement-icon">
                <span class="icon"><span class="icon-trophy"><img src="..\images\youtility_inverted_emblem.png" class="img" alt="Image"></span></span>
            </div>
            <div class="achievement-text">
                <p class="achievement-notification">New Bill Uploaded</p><p class="achievement-name"></p>
            </div>
        </div>
    }
    @if (@ViewBag.newAchievements != null)
    {
        <div class="achievement-banner">
            <div class="achievement-icon">
                <span class="icon"><span class="icon-trophy"><img src="..\images\youtility_inverted_emblem.png" class="img" alt="Image"></span></span>
            </div>
            <div class="achievement-text">
                <p class="achievement-notification">Achievement Unlocked</p><p class="achievement-name">@ViewBag.newAchievements</p>
            </div>
        </div>
    }
</div>


<!--
<div class="flexDisplay">
    <div class="flexHeight">
        <div class="form">
            <h1 class="form-upload-text">Manual Upload</h1>
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="utility" class="control-label">Utility Type</label>
                    <select asp-for="utility" class="form-control">
                        <option value="@Bill.Type.water">@Bill.Type.water</option>
                        <option value="@Bill.Type.gas">@Bill.Type.gas</option>
                        <option value="@Bill.Type.electricity">@Bill.Type.electricity</option>
                    </select>
                    <span asp-validation-for="utility" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="due" class="control-label">Amount Due (USD)</label>
                    <input asp-for="due" class="form-control" />
                    <span asp-validation-for="due" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="consumed" class="control-label">Amount of Utility Used (This month)</label>
                    <input asp-for="consumed" class="form-control" />
                    <span asp-validation-for="consumed" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="uploadTime" class="control-label">Today's Date'</label>
                    <input asp-for="uploadTime" class="form-control" />
                    <span asp-validation-for="uploadTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="beginningPeriod" class="control-label">Bill Start Date</label>
                    <input asp-for="beginningPeriod" class="form-control" />
                    <span asp-validation-for="beginningPeriod" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="endingPeriod" class="control-label">Bill End Date</label>
                    <input asp-for="endingPeriod" class="form-control" />
                    <span asp-validation-for="endingPeriod" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" onclick="created()" class="form-create btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div class="flexHeight">
        <div class="auto">
            <h1 class="auto-upload-text m-2 text-center">Automatic Upload</h1>
            <br />
            <input class="file" id="pdffile" name="pdffile" type="file" />
            <br />
            <br />
            <button id="btn" class="btn btn-primary" onclick="convert()">Create</button>
        </div>
    </div>
    <div class="help-tip">
        <p>You may choose manual or automatic upload to create a bill. Once uploaded, you may view a list of your bills in your profile.</p>
    </div>
</div>
    -->


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/Bills/bills.js"></script>
    <link rel="stylesheet" href="~/css/Bills/create.css" />
}