@model IEnumerable<YOUtility.Models.Bill>

@{
    ViewData["Title"] = "Index";
}

<head>
    <title>youtility</title>
    <meta charset="utf-8">

    <!-- Top left corner emblem -->
    <link rel="icon" href="..\images\youtility_emblem.png">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://npmcdn.com/pdfjs-dist/build/pdf.js"></script>
    <link rel="stylesheet" href="~/css/Bills/bills.css" />
    <link rel="stylesheet" href="~/css/Home/site.css" />

</head>

    <h1 class="m-2 text-center utility-header">Utility Bills</h1>

    <div class="container">
        <div class="row">
            <div class="col text-center">
                <a class="btn btn-primary" asp-action="Create">Create New</a>
                <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Profile">Profile</a>
            </div>
        </div>
    </div>
    <br />
    <div class="row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.utility)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.due)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.consumed)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.uploadTime)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.beginningPeriod)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.endingPeriod)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.utility)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.due)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.consumed)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.uploadTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.beginningPeriod)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.endingPeriod)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>